@page "/success"
@layout MainLayout

<div class="custom-container redeemen-sucess-container">
    <img src="images/success.png" width="117" height="117" alt="" />
    <h2>
        Thank you
        for
        Registering with us
    </h2>
</div>