@inject NavigationManager NavigationManager
@inject IConfiguration Configuration
@inject IStringLocalizer<App> Localizer


<form class="form-inline language-options">

    <button class="btn  mr-2" @onclick="Toggle">@buttonText</button>
    
</form>
    <hiddenfield id="hdnSelectedLanguage"></hiddenfield>

@code {
    private string selectedCulture = System.Threading.Thread.CurrentThread.CurrentCulture.Name;
    private Dictionary<string, string> cultures;
    public string selectedLanguage = "SelectedLanguage", selectedValue = string.Empty;


    private string buttonText => isSelected ? "English" : "العربية";


    private bool isSelected = true;


    private void Toggle(EventArgs e)
    {
        isSelected = !isSelected;
        Console.WriteLine(DateTime.Now);
    }


    protected override void OnInitialized()
    {
        cultures = Configuration.GetSection("Cultures").GetChildren().ToDictionary(x => x.Key, x => x.Value);
    }

    private  void RequestCultureChange(ChangeEventArgs e)
    {
        isSelected = !isSelected;

    }

    private void NavigateToCulture()
    {

        var uri = new Uri(NavigationManager.Uri)
        .GetComponents(UriComponents.PathAndQuery, UriFormat.Unescaped);

        var query = $"?culture={Uri.EscapeDataString("")}&" +
            $"redirectUri={Uri.EscapeDataString(uri)}";

        NavigationManager.NavigateTo("/Culture/SetCulture" + query, forceLoad: true);
    }

}
